.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch--shadow + label {
    padding: 2px;
    width: 80px;
    height: 40px;
    background-color: #dddddd;
    border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}
.switch--shadow + label:before {
    right: 1px;
    background-color: #302863;
    border-radius: 60px;
    transition: all 0.4s;
}
.switch--shadow + label:after {
    width: 40px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
    background-image: url('../../assets/images/sun.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 1s;
}
.switch--shadow:checked + label:before {
    background-color: #f7fdff;
}
.switch--shadow:checked + label:after {
    transform: translateX(40px);
    background-image: url('../../assets/images/moon.png');
}