@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Display', sans-serif;
}

.leaflet-container {
    width: 400px; 
    height: 550px;
    border-radius: 20px;
    margin-left: 7%;
}

.container {
    display: grid;
    grid-template-columns: 2.1fr 1fr 1fr;
    grid-template-rows: 0.7fr 2.1fr 1.8fr 1.4fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "meuCabecalho meuCabecalho meuCabecalho"
      "meuMapa minhasEstatisticas minhasEstatisticas"
      "meuMapa minhasEstatisticas minhasEstatisticas"
      "meuMapa minhasEstatisticas minhasEstatisticas"
      "meuFooter meuFooter meuFooter";
  }
  
  .meuCabecalho { grid-area: meuCabecalho; }
  
  .meuFooter { grid-area: meuFooter; }
  
  .meuMapa { grid-area: meuMapa; }
  
  .minhasEstatisticas { grid-area: minhasEstatisticas; }
  