@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");

body {
	background-color: #f7fdff;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans Display", sans-serif;
}

.leaflet-container {
	width: 400px;
	height: 550px;
	border-radius: 8px;
	margin-left: 5%;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.514);
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1.4fr 1.7fr 1fr;
	grid-template-rows: 0.7fr 2fr 1.9fr 1.4fr 0.5fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		"meuCabecalho meuCabecalho meuCabecalho"
		"meuMapa minhasEstatisticas minhasEstatisticas"
		"meuMapa minhasEstatisticas minhasEstatisticas"
		"meuMapa minhasEstatisticas minhasEstatisticas"
		"meuFooter meuFooter meuFooter";
}

.meuCabecalho {
	grid-area: meuCabecalho;
	margin-left: 2%;
}

.meuFooter {
	margin-top: 3%;
	grid-area: meuFooter;
	font-size: 0.65em;
}

.meuMapa {
	margin-top: 2%;
	grid-area: meuMapa;
}

.minhasEstatisticas {
	grid-area: minhasEstatisticas;
}

.meuTema {
	position: absolute;
}
